/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

.profil {
    width: 250px;
    background-color: #31363b;
    color: #bdc3c7;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    margin: 20px;
    box-shadow: 2px 4px 10px #31363b;
}

.foto {
    width: 250px;
}

h1 {
    font-family: 'Montserrat';
    color: white;
    font-size: 25px;
}

body {
    background-color: #bdc3c7;
}

.hlavicka {
    position: relative;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -25px;
    box-shadow: 2px 2px 6px black;
}

.obsah {
    padding: 20px;
}

.odkazy {
    padding: 0;
    margin: 0;
    text-align: center;
}

.odkazy li {
    display: inline-block;
    border-top: 0.5px solid #bdc3c7
}

li.portfolio {
    width: 100%;
}

li.facebook {
    width: 50%;
    border-right: 0.5px solid #bdc3c7
}

li.twitter {
    width: 50%;
}

.odkazy a {
    display: block;
    padding: 1em;
    color: #bdc3c7;
    text-decoration: none;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.portfolio a:hover {
    background-color: #e74c3c;
    color: white;
}

.facebook a:hover {
    background-color: #3b5998;
    color: white;
}

.twitter a:hover {
    background-color: #1da1f2;
    color: white;
}